 @{
    ViewData["Title"] = "Admin Add Category";
}
<partial name="_AdminHeader"></partial>
 
 @model Category

<h3 class="text-center my-2">New Category</h3>
<hr>

<form asp-controller="Admin" asp-action="CreateCat">

  <div class="form-group">
    <label asp-for="Name"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="Name"></span>
    <input class="form-control" asp-for="Name">
  </div>
  
  <button class="btn btn-success" type="submit">Create</button>
</form>