@{
    ViewData["Title"] = "Nick's Skate Shop";
}
  
 <partial name="_Header"></partial>

@model Order


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="fixed">Item</th>
            <th class="fixed">Quantity</th>
            <th class="fixed">Price</th>
        </tr>
    </thead>
    <tbody>
         
       
             @foreach (Order prod in ViewBag.Items)
            {
            
              <tr>
                  <td class="text-left"><a href="/product/@prod.ProductId">@prod.ProdOrder.Name<a></td>
                  <td class="text-left">@prod.Quantity</td>
                  <td class="text-left">$@prod.ProdOrder.Price</td>
                  <td class="text-left">

                 
                    
                    
                    </td>
              </tr>
            



            

}
</tbody>
</table>

<a class="btn btn-success d-i-block mx-2" href="/cart/checkout">Checkout</a>

<a class="btn btn-primary d-i-block mx-2" href="/allprod">Continue Shopping</a>





